// html, body {
//     height: 100%; 
// }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
}

.back-primary {
    background-color: #3f51b5;
}

.back-warn {
    background-color: #f44336;
}

.list-group .list-group-item {
    padding: .5rem .75rem;
}

body .mat-flat-button {
    min-width: 0;
    line-height: 34px;
    padding: 0px 10px;
}