.list-group-item.pri-high {
    border-left: 7px solid red;
    border-radius: 5px;
}

.list-group-item.pri-medium {
    border-left: 7px solid orange;
    border-radius: 5px;
}

.list-group-item.pri-low {
    border-left: 7px solid green;
    border-radius: 5px;
}